body{
    background-color: f3f3f3;
}
a {
    text-decoration: none;
    color: floralwhite;
}

a:visited {
    text-decoration: none;
    color: floralwhite;
}

a:hover {
    text-decoration: underline;
    color: floralwhite;
}

.boss {
    height: 50px;
    background-color: black;
    width: 100%;
}
.logo {
    padding-left: 7px;
    float: left;
    color: floralwhite;
    font-size: 30px;
    font-family: 'Oswald';

}

.contact {
    font-family: 'Oswald';
    padding-top: 14px;
    color: floralwhite;
    background-color: black;
    text-align: right;
    padding-right: 10px;
    font-size: 14px;
}
.nope{
    margin: auto;
    width: 750px;
    text-align: justify;
    background-color: white;
}
.pad{
    padding-bottom: 30px;
}
h3{
    letter-spacing: 7px;
    font-family: 'Bree Serif', serif;
    text-align: center;
    font-size: 30px;
}
p{
    text-align: center;
}
.client{
    background-color: white;
    width: 99%;
    padding-left: 17px;
}
.custom
{
    padding-left: 65px;
    padding-top: 30px;
    text-align: justify;
    word-spacing: 250px;
    line-height: 40px;
}
